:root{
    --pri-red-400:hsl(0, 78%, 62%);
    --pri-cyan-400:hsl(180, 62%, 55%);
    --pri-orange-400:hsl(34, 97%, 64%);
    --pri-blue-400:hsl(212, 86%, 64%);

    --neut-grey-500: hsl(234,12%,34%);
    --neut-grey-400: hsl(212, 6%, 44%);
    --neut-white-100: hsl(0, 0%, 100%);
}

/*Font Styles*/

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
    color: var(--neut-grey-400);
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--neut-grey-400);
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--neut-grey-500);
  }
  

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}

body{
    padding: 7.5vw;
    display: grid;
    place-items: center;
}

header{
    display: flex;
    flex-direction: column;
    gap: 6vw;
    margin-bottom: 5vh;
}

h1,h2,h3{
    line-height: 1.1;
}

p{
    line-height: 1.5;
    font-size: .9375rem;
}

.head-section{
    text-justify: center;
    text-align: center;    
}

.grid-main{
    display: grid;
    place-items: center;    
    justify-items: stretch;
    gap: 16px;    
}

.card:last-child{
    margin-bottom: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 16px;


    padding: 6%;
    box-shadow: 0px 15px 40px -20px rgba(0,0,0,0.56);
    border-radius: 2%;
    max-width: 50rem;
}

.card > img{
    width: 15%;
    align-self: flex-end;
    justify-self: flex-end;
    max-width: 64px;
}

.card > p{
    margin-bottom: 1.5rem;
}

#supervisor{
    border-top: 2px solid var(--pri-cyan-400);
}

#team-builder{
    border-top: 2px solid var(--pri-red-400);
}

#karma{
    border-top: 2px solid var(--pri-orange-400);
}

#calculator{
    border-top: 2px solid var(--pri-blue-400);
}

@media (min-width: 800px) {

    header{
        gap: 2vw;
        margin-bottom: 10vh;
        width: 50vw;
    }

    .grid-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 16px;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
            "supervisor team-builder calculator"
            "supervisor karma calculator";
    }

    #supervisor {
        grid-area: supervisor;
    }

    #team-builder {
        grid-area: team-builder;
    }

    #karma {
        grid-area: karma;
    }

    #calculator {
        grid-area: calculator;
    }
}